@page
@model MyFitTimer.Pages.TimerRun.IndexModel

@{ ViewData["Title"] = "Timer";
    string[] TableHeaders = new string[] { "Start Time", "End Time", "Elapsed Time" };
}
<style>
    td {
        padding: 5px;
        border: 1px solid;
    }
</style>
<!--
    CEN 4031 Advanced Programming Development Framework
    Class: 3222  Instructor: Tillman  Team: Honey Badger
    Final Project: MyFitTimer
    Members: Jacob Leffew, William Kategianes, Sean Meinsen
    -->
<h1>Timer</h1>

<br />
<div>
    Elapsed Time:
    @{
        if (Model.ElapsedTime != null)
        {
            @Html.DisplayFor(modelItem => @Model.ElapsedTime)
        }
    }
</div>
<br />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <button type="submit" id="btnStart" value="StartTimer" asp-page-handler="StartTimer">Start Timer</button>
        </form>
    </div>

    <div class="col-md-6">
        <form method="post">
            <button type="submit" id="btnStop" value="StopTimer" asp-page-handler="StopTimer">Stop Timer</button>
        </form>
    </div>
</div>
<br />
<div class="resultsTable">
    <table>
        <thead>
            <tr>
                @{
                    foreach (var header in TableHeaders)
                    {
                        <th>
                            @header
                        </th>
                    }
                }
            </tr>
        </thead>
        @{
            if (Model.TimerRuns != null)
                foreach (var TimerRun in Model.TimerRuns)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => TimerRun.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => TimerRun.EndTime)
                        </td>
                        <td>
                            @Model.GetTimerElapsedTime(TimerRun)
                        </td>
                    </tr>
                }
        }
    </table>
</div>

